* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Montserrat', sans-serif;
    background-color: #ffffff; /* ou une autre couleur si vous en avez besoin */
    height: 100%; /* Ajoutez cette règle pour éviter tout fond manquant */
}
/* Style spécifique pour le header de la page de contact */
.demander-devis .header {
    background-color: #047f8f; /* Turquoise dark */
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    z-index: 10;
    width: 100%;
    color: white;
    transition: background-color 0.3s ease; /* Transition pour le changement de fond */
    background-color: transparent ; /* Initialement transparent */
}
/* Lorsque l'utilisateur défile légèrement */
.header.scrolled {
    background-color: rgba(0, 0, 0, 0.7);
}
.logo-container img {
    max-height: 60px;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #007bff;
}


.hero-section {
    height: 100vh; /* Prend toute la hauteur de la fenêtre */
    background-image: url('pexels-heyho-6969824.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
     z-index: 0; /* Permet à l'image de se situer derrière le header */
        flex-direction: column; /* Aligner les éléments de la section en colonne */
    text-align: center; /* Centrer le texte dans la section */
}

.hero-content {
    text-align: center;
    z-index: 1; /* Le contenu du texte est au-dessus de l'image */
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
    
}

.hero-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Légère superposition sombre pour améliorer la lisibilité */
    z-index: 0;
}

.hero-section h1 {
    font-size: 4rem;
    margin-bottom: 20px;
    font-weight: bold; /* ou 700 pour un gras plus prononcé */
}

.hero-section p {
    font-size: 1.25rem;
    line-height: 1.6;
    margin-top: 20px;
    font-weight: normal; /* ou 700 pour un gras plus prononcé */
}
.twbb-headline {
    display: inline-block;
    position: relative;
    font-weight: 700;
    text-align: center;
    line-height: 0.7; /* Ajuste l'espacement entre les lignes */
    font-size: 4.5rem; /* Taille globale de la police */
    color: #fff; /* Assurez-vous que la couleur est bien visible sur l'image de fond */
}
.twbb-headline-plain-text {
    display: block;
     font-size: 3rem; /* Ajuste selon le design */
        font-weight: normal; 
    margin-bottom: 10px; /* Espacement si nécessaire */
}
.twbb-headline-highlight {
    display: inline-block;
    position: relative;
    font-weight: 700;
}
.twbb-headline-highlight::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: url('zigzag.png') repeat-x; /* Image ou motif pour le zigzag */
    background-size: contain;
}
.twbb-headline-dynamic-wrapper {
    display: block;
    position: relative;
    margin-top: 10px; /* Espacement entre les parties statiques et dynamiques */
}
.twbb-headline-dynamic-wrapper p {
    max-width: 600px; /* Ajustez selon vos préférences */
    margin: 20px auto;
    text-align: center;
    font-size: 1rem;

}
.twbb-headline-dynamic-text {
    display: inline-block;
    font-size: 3.5rem; /* Ajuste selon le design */
  margin-bottom: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

/* Container pour les boutons */
.button-container {
  margin-top: 30px; /* Espace au-dessus des boutons */
  display: flex; /* Utilisation de flexbox pour l'alignement horizontal */
  justify-content: center; /* Centrer les boutons horizontalement */
  gap: 20px; /* Espacement entre les boutons */
flex-direction: column; /* Aligner les boutons en colonne */
      align-items: center; /* Centrer les boutons verticalement */
    
}

/* Style pour le bouton d'appel / rappel */
.phone-button {
    background-color: #28a745; /* Couleur verte */
    color: white;
    padding: 8px 20px;
    font-size: 16px;
    border-radius: 5px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
    z-index: 1; /* Le contenu du texte est au-dessus de l'image */
}

.phone-button i {
    margin-right: 8px;
}

.phone-button:hover {
    background-color: #218838; /* Couleur du bouton au survol */
}
/* Style pour le bouton Facebook */
.facebook-button {
    background-color: #3b5998; /* Couleur de fond de Facebook */
    color: white;
    padding: 8px 20px;
    font-size: 16px;
    border-radius: 5px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
    z-index: 1; /* Le contenu du texte est au-dessus de l'image */
}

.facebook-button i {
    margin-right: 8px;
}

.facebook-button:hover {
    background-color: #2d4373; /* Couleur du bouton Facebook au survol */
}
.about-us {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; /* Aligne les éléments verticalement */
    padding: 50px;
    background-color: #f4f4f4;
    border-radius: 15px; /* Bords arrondis */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); /* Ombre subtile */
    margin: 0 20px; /* Marges automatiques */
    flex-wrap: wrap; /* Permet de passer les éléments en dessous sur petits écrans */

}

.about-content {
    flex: 1;
    padding-right: 50px;
    text-align: left; /* Texte aligné à gauche */
}

.about-content h2 {
    font-size: 2.5rem;
    color:#333;
    font-weight: 700; /* Font plus gras */
    margin-bottom: 20px;
}

.about-content p {
    font-size: 1.2rem;
    color: #666;
    line-height: 1.5;
    margin-bottom: 30px;
    
}

.stats-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.stat-item {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    width: 200px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
     transition: transform 0.3s, box-shadow 0.3s ease; /* Ajout d'une transition */
    margin-top: 20px; /* Espacement entre les éléments */
}

.stat-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.stat-number {
    font-size: 2.5rem;
    color: #333;
    font-weight: bold;
}

.about-image {
    flex: 1;
    height: 100%; /* L'image prendra toute la hauteur du parent */
}

.about-image img {
    width: 100%; /* L'image s'adapte à la largeur de son conteneur */
    height: 100%; /* L'image prend la même hauteur que le conteneur */
    object-fit: cover; /* L'image couvre toute la surface sans être déformée */
    border-radius: 10px;
}

.counter {
    display: inline-block;
    font-size: 3rem;
    font-weight: bold;
    color: #007bff; /* Couleur du compteur */
}
/* Media Queries pour Responsivité */
@media (max-width: 768px) {
    .about-us {
        flex-direction: column; /* Sur petit écran, les éléments passent en colonne */
        padding: 20px;
    }

    .about-content {
        padding-right: 0;
    }

    .stats-container {
        justify-content: center; /* Centrer les statistiques sur les petits écrans */
    }

    .stat-item {
        width: 150px; /* Taille plus petite pour les statistiques sur petit écran */
    }
}

@media (max-width: 480px) {
    .about-content h2 {
        font-size: 2rem; /* Taille de texte plus petite pour mobile */
    }

    .about-content p {
        font-size: 1rem; /* Taille de texte plus petite pour mobile */
    }
}
.realisations h2 {
    font-size: 2.8rem;
    color:#1a1a1a;
    font-weight: 700; /* Font plus gras */
    margin-bottom: 20px;
    text-align: center;
    }
    
    
/* Styles pour la section Réalisations */
        .carousel {
            position: relative;
            width: 100%;
            max-width: 800px;
            margin: 0 auto;
            overflow: hidden; /* Cache les éléments hors de la vue */
        }

        .carousel-items {
            display: flex;
            transition: transform 1s ease; /* Transition fluide pour le défilement */
        }

        .carousel-item {
            flex: 0 0 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .carousel-item img {
            width: 100%;
            max-width: 100%;
            height: auto;
            object-fit: cover;
        }

        .details {
            text-align: center;
            padding: 10px;
        }

        .carousel-item h3 {
            margin-top: 10px;
        }

        /* Flèches de navigation */
        .prev, .next {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background-color: rgba(0, 0, 0, 0.5);
            color: white;
            font-size: 2rem;
            border: none;
            padding: 10px;
            cursor: pointer;
            z-index: 10;
            border-radius: 50%;
        }

        .prev {
            left: 10px;
        }

        .next {
            right: 10px;
        }

        /* Effet au survol des flèches */
        .prev:hover, .next:hover {
            background-color: rgba(0, 0, 0, 0.8);
        }



.testimonials {
    padding: 50px 20px;
    background-color: #f9f9f9;
    text-align: center;
}

.testimonials h2 {
    font-size: 2.8rem;
    color:#1a1a1a;
    font-weight: 700; /* Font plus gras */
    margin-bottom: 20px;
}

.testimonials p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 40px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.testimonial-carousel {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 20px;
     max-width: 1200px; /* Limite la largeur sur les grands écrans */
    margin-left: auto;
    margin-right: auto;
}

.testimonial-item {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.testimonial-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.rating {
    color: #FFC107; /* Couleur des étoiles */
    font-size: 1.2rem;
    margin-bottom: 15px;
}

.testimonial-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.testimonial-footer img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
    border: 2px solid #ddd;
}

.testimonial-footer cite {
    font-size: 0.9rem;
    font-weight: bold;
    color: #555;
}
footer {
  background-color: rgba(0, 0, 0, 0.7);
    color: white; /* Pour rendre le texte blanc */
  display: flex;
  flex-direction: column;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.footer-left {
  display: flex;
  align-items: center;
justify-content: flex-start; /* Cette ligne permet d'aligner les éléments à gauche */
    margin-right: auto; /* Ceci force l'alignement à gauche */
}

.logo-footer {
  width: 150px; /* Ajustez la largeur selon votre logo */
}

.footer-right {
     display: flex;
  justify-content: flex-end; /* Permet d'aligner les éléments à droite (comme les icônes sociales) */
  align-items: center;
}

.social-icons {
    display: flex;
}

.social-icons a {
  color: white;
  margin-left: 10px;
}

hr {
  border: 1px solid #ddd;
  margin: 20px 0;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* Section Formulaire */
section {
    padding: 50px 20px;  /* Ajoutez un padding pour l'espacement */
    background-color: #f9f9f9; /* Couleur de fond légère pour différencier la section */
}

form {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin: 10px 0 5px;
}

input, textarea, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
